config/uiss.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="array">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="key" type="xs:string" />
              <xs:element minOccurs="0" name="value" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="default" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>